#body5 {
  width: 100%;
}

.video {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

  .main-body {
    background-color: #f1f1f1;
  }

  table {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #article0 {
    vertical-align: middle;
  }

  .article1 {
    width:1500px;
    text-align: center;
    align-items: center;
  }

  .article2 {
    font-size: 1.1rem;
    width: 1500px;
  }

  h3, h2, h4, h1 {
    text-align: center;
    padding-top: 15px
  }

  hr {
    border-top: 10px solid black;
  }

  /* Create two columns/boxes that floats next to each other */

    .capdiv {
    max-width: 500px;
    position: relative;
    margin: auto;
    }          

    #center {
    width: 20%;
    height: 20%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
 
  }

  img#center {
    border: 6px solid black;
    border-radius: 30px;
  }

  article {
    float: center;
    margin: 30px;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .funny a {
    text-decoration: none;
    color: black;
  }

#bottlecap0 {
  width: 69px;
  height: 69px;
  display: block;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;}

  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }